html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #b93d04;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: #f9f7f3;
}

.pcontainer {
  background-color: #eddea4;
  border-radius: 25px;
  display: inline-block;
  padding: 0px 25px 0px 25px;
}

img {
  height: 25%;
  width: 25%;
  border-radius: 100px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
article {
  text-align: center;
}

i {
  color: black;
  padding: 0 10px;
}

i:hover {
  color: #b93d04;
}
a {
  text-decoration: none;
}
