html {
  height: 100%;
}
body {
  height: 100%;

  background-color: #fff8e7; /* Soft Cream background */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pcontainer {
  border-radius: 25px;
  display: block;
  padding: 10px 25px 15px 25px;
  margin: 16px;
}
.titlebox {
  background-color: #ff6f61; /* Dusty Coral*/
}
.bookingbox {
  background-color: #b2c8b8; /* Sage Green */
}
.socialbox {
  background-color: #aec6cf; /* Sky Blue */
}

h2 {
  color: white;
}

.tagline {
  /* color: white; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0px 0px 30px 0px;
}

.socialLink {
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
}

img {
  height: 25%;
  width: 25%;
  border-radius: 100px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
article {
  text-align: center;
}

i {
  color: black;
  padding: 0 10px;
}

i:hover {
  color: #b93d04;
}
a {
  text-decoration: none;
}
